<link rel="stylesheet" href="/swags/top.css">
<div class="top"style="display:inline-block; height: 80px; width: 100%; position: relative; background-color: rgb(100, 160, 250);">
    <h1 style="font: 50px Verdana; margin:0;color:rgb(0,0,0,0.5);">Angyman</h1>
    <div class="underlings" style="display:inline-block">
        <a href="/login" class="login">Login</a>
        <a href="/settings" class="settings">Settings</a>
        <a href="/login" class="login">Login</a>
    </div>
    <div>
        <svg id="drop">
            <polygon points="0,0 20,0 10,10" style="fill:#aaa"/>
        </svg>
    </div>
    <script src="/scripts/top.js"></script>
    <script src="/scripts/tools.js"></script>
</div>