<div style="display:inline-block; height: 100px; width: 100%; position: relative; background-color: rgb(100, 160, 250);">
    <h1 style="font: 50px Verdana; margin:10px;">Angyman</h1>
    <a href="/login" class="login" style="visibility: hidden;">Login</a>
</div>