<!DOCTYPE html>
<html>
    <head>
        <title>
            Monch
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/swags/hanger.css">
    </head>
    
    <body onload="load()">
        <canvas id="can't" style="border: 1px solid #000000;"></canvas>
        <script src="scripts/hanger.js"></script>
    </body>
</html>