<!DOCTYPE html>
<html>
    <head>
        <title>
            Hanger
        </title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico?" />
    </head>
    <body>
        <h1>Welcome</h1>
        <p id="ipp">please wait...</p>
        <script src="/scripts/main.js"></script>
        <button onclick = "send()">Click for ip</button>
        <a href="/triangle">Thrilling Triangle Test</a>
    </body>
</html>