<!DOCTYPE html>
<html>
    <head>
        <title>
            Hanger
        </title>
    </head>
    <body>
        <h1>Welcome</h1>
        <p id="ipp">please wait...</p>
        <script src="scripts/main.js"></script>
    </body>
</html>