<!DOCTYPE html>
<html>
    <head>
        <title>
            Hanger
        </title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico?" />
        <link rel="stylesheet" href="/swags/hanger.css">
    </head>
    <body>
        <h1>Welcome to</h1>
        <p id="ipp">please wait...</p>
        <script src="/scripts/main.js"></script>
        <button onclick = "send()">Click for ip</button>
        <h2>Thinguses:</h2>
            <a class="chill" href="/triangle">Thrilling Triangle Test</a>
            <br>
            <a class="chill" href="/hanger">Hungry Hungry Hypotenuses</a>
        
    </body>
</html>