<!DOCTYPE html>
<html>
    <head>
        <title>
            Hanger
        </title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico?" />
        <link rel="stylesheet" href="/swags/index.css">
        <%- include("../partials/top.ejs") -%>
    </head>
    <body>
        <h1>Welcome to <a href="https://twitter.com"><h1>hell</h1></a></h1>
        <script src="/scripts/main.js"></script>
        <script src="/scripts/tools.js"></script>
        <h2>Thingoids:</h2>
            <a class="chill" href="/triangle">Thrilling Triangle Test</a>
            <br>
            <a class="chill" href="/hanger">Hungry Hungry Hypotenuses</a>
        
    </body>
</html>