<!DOCTYPE html>
<html>
    <head>
        <title>
            The Pact That Binds
        </title>
        
        <%- include("../partials/top.ejs") -%>
    </head>

    <body>
        
        <h1>So you've decided to join us?</h1>
    </body>
</html>