<!DOCTYPE html>
<html>
    <head>
        <title>
            Monch
        </title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico?" />
        <link rel="stylesheet" href="/swags/triangle.css">
        <script src="scripts/triangle.js"></script>
    </head>
    
    <body onload="load()">
        <a href='javascript:start()' class="click">Click to start</a>
        <canvas id="can't" style="border: 1px solid #000000;"></canvas>
    </body>
</html>