<!DOCTYPE html>
<html>
    <head>
        <title>
            Monch
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/swags/triangle.css">
        <script src="scripts/triangle.js"></script>
    </head>
    
    <body onload="load()">
        <div class="main">
            <canvas id="can't"></canvas>
        </div>
    </body>
</html>