.top{
    margin:0;
    position: absolute;
    text-align: center;
}

body{
    margin:0;
}

.underlings{
    visibility: hidden;
    text-decoration: none;
    color:purple;
}

#drop{
    display: inline-block;
    width: 10px;
    height: 10px;
}